rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /videos/{videoId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /rooms/{roomId}/messages/{msgId} {
      allow read, write: if request.auth != null;
    }

    match /transactions/{txId} {
      allow read: if request.auth != null;
      allow write: if false; // serveur seulement (plus tard)
    }
  }
}
